<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .responsiveCal {
            position: relative;
            padding-bottom: 50%;
            width: 95%;
            height: 0;
        }

            .responsiveCal iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
    <script src="~/Scripts/knockout-3.5.1.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dataSource" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Data Source
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dataSourceDdl">

                                </div>
                            </div>
                            @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" id="currentDataSource"></a>
                        </li>*@
                        <!--Create new table-->
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    SUDO Admin Functions
                                </button>
                                <div class="dropdown-menu" id="superAdminFunctions" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button" id="createTableLink">Create New Table</button>
                                    <button class="dropdown-item" type="button">Manage Table</button>
                                    <button class="dropdown-item" type="button">Manage Users</button>
                                    <button class="dropdown-item" type="button">Other Admins Functions</button>
                                </div>
                            </div>
                            @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
